/* GLOBALS */
body {
	margin:0;
	background-color: #B0BEC5;
}

ul {
	margin: 0px;
	padding: 0px;
}

section {
	
}




/* NAVBAR / HEADER */
header {
	top: 0px;
	left: 0px;
	min-height: 100px;
	background: none;
}

nav ul {
	display: inline;
	padding-left: 2%;
}

nav li {
	display: inline-block;
	width: 12.5%;
	text-align: center;
	padding-left: 8px;
	padding-right: 8px;
	vertical-align: bottom;
}

nav a {
	text-decoration: none;
	color: #B0BEC5;
	display: block;
}

.menu-icon {
	max-height: 120px;
	max-width: 120px;
	filter: brightness(.7);
}

.selected, .not-selected {
	margin-top: -4px;
}

.menu-icon:hover + .not-selected, .not-selected:hover {
	color: #ffffff;
	font-size: 125%;
}

.menu-icon.chosen {
	filter: brightness(1);
}

.menu-icon.choice:hover {
	filter: brightness(.9);
}

.selected {
	font-weight: bold;
	font-size: 125%;
	color: #ffffff;
}

#mark {
	height: 12px;
	width: 12px;
}


/* HOME */







