/*///////////////////////////////////////////////////////////////////////// GLOBALS */
body {
	margin:0;
	background-color: #ffffff;
	width: 100%;
	height: 100%;
}

body, body * {
	font-family: 'Raleway', sans-serif;
}

ul {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

.container-fluid {
	width: 100%;
}

.noMargin {
	margin-top: -5px;
	margin-bottom: -5px;
}

.blue {
	color: #0080ff;
	font-weight: bold;
}

.backgroundImg {
	background-size: cover;
	background-repeat: no-repeat;
	display: table;
	height: 680px; /* fix to scale*/
}

.centered {
	text-align: center;
}

.major-cont {
	color: #000000;
	background-color: #ffffff;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 3px;
	border: #0080ff solid 2px;
	padding-left: 5px;
	padding-right: 5px;
}

.major-cont > .row {
	padding-left: 5px;
	padding-right: 5px;
}

.icon-padding-right {
	padding-right: 10px;
}

.center-content {
	text-align: center;
	margin-top: 10px;
}

.title {				/*merge with blue */
	color: #0080ff;
}

	
/*////////////////////////////////////////////////////////////////////////// HEADER, NAVBAR */
header {
	top: 0px;
	left: 0px;
	min-height: 50px;
}

nav {
	border-bottom: solid #0080ff 1px !important;
	position: relative;
}

#logo {
	max-height: 50px;
}

#headerName {
	font-size: 3em;
	position: absolute;
	bottom: -10px;
	left: 85px;
}	

.navbar {
	margin-bottom: 0px !important;
}

.nav-toggle {
	float: right;
}

nav li:hover {
	background-color: #cfcfcf;
}

.selected > a {
	color: #0080ff !important;
	font-weight: bold;
}



/*///////////////////////////////////////////////////////////////////////// HOME */
#homeBack{
	background-image: url('../res/background/home.jpg');
}

#sloganDiv {
	text-align: right;
	width: 80%;
	padding-top: 155px;		/*change to vertically middle */
}

#slogan {
	margin: 0px;
	font-size: 6em;
	color: #ffffff;
}

#slogan li {
	margin-top: -35px;
	min-width: 620px;
}

#homeInfo {
	text-align: center;
	width: 80%;
	min-width: 455px;
	color: #ffffff;
	padding-left: 10%;
	margin-top: 2%;
}

#homeInfoTitle {
	font-size: 2.5em;
	margin-bottom: 30px;
}



/*///////////////////////////////////////////////////////////////////////// ABOUT ME */
#aboutBack {
	background-image: url('../res/background/about.jpg');
}

#headshotDiv {
	text-align: center;
	margin: auto;
	padding-top: 20px;			/*change to vertically middle */
}

#headshot {
	width: 80%;
	border-radius: 50%;
	border: #0080ff solid 8px;
	margin-bottom: 10px;
}

#resume {
	text-decoration: none;
	font-size: 2em;
	color: #ffffff;
}

#resume:hover {
	color: #0080ff;
}

#aboutInfoDiv {
	width: 90%;
	text-align: center;
	margin-top: 30px;       /*fix to be vertically centered*/
} 



/*///////////////////////////////////////////////////////////////////////// SKILLS */
#skillsBack {
	background-image: url('../res/background/skills.jpg');
}

.skills-col {
	min-width: 200px
}

.skill-item {
	padding-bottom: 50px;
	min-width: 200px;
	margin-left: 5px;
}

.skill {
	float: left;
	font-size: 1.4em;
	min-width: 115px;
}

.skill-level {
	float: right;
}



/*///////////////////////////////////////////////////////////////////////// EDUCATION */
#educationBack {
	background-image: url('../res/background/school2.jpg');
}



/*///////////////////////////////////////////////////////////////////////// WORK */
#workBack {
	background-image: url('../res/background/work.jpg');
}



/*///////////////////////////////////////////////////////////////////////// PROJECTS */
#projectsBack {
	background-image: url('../res/background/projects.jpg');
}

#project-major-cont {
	margin-bottom: 15px; 
}

.project {
	margin-top: 5%;
	position: relative;
	border-radius: 7px;
	border: solid #ffffff 3px;
}

.project.hovered {
	border: solid #0080ff 3px;	
}

.project.hovered > .project-image {
	filter: brightness(.2);
}

.project-image {
	max-height: 100%;
	max-width: 100%;
	border-radius: 4px;
}

.project-title {
	position: absolute;
	bottom: 0px;
	left: 5px;
	width: 100%;
}

.project-name {
	display: inline-block;
}

.project-language {
	display: inline-block;
	float: right;
	margin-right: 10px;
}

.project-description {
	text-align: center; 
	margin-right: 5px;
	display: none;
	color: #ffffff;
	position: absolute;
	bottom: 0px;
	left: 5px;
}



/*///////////////////////////////////////////////////////////////////////// CONTACT ME */
#contactBack {
	background-image: url('../res/background/contact.jpg');
}

#contact-cont {
	margin-top: 130px;
}

.contact-item {
	color: #ffffff;
	font-size: 1.4em;
	display: block;
	position: relative;
	margin-top: 10px;
}

.contact-item:hover {
	color: #0080ff;
	text-decoration: none;
	font-weight: bold;
}

.contact-item:visited {
	text-decoration: none;
}

.contact-item:selected {
	text-decoration: none;
}

.contact-icon {
	position: relative;
}

/*///////////////////////////////////////////////////////////////////////// MEDIA QUERIES */
@media (max-width: 767px) { /* xs properties
/* CONTACT */
	#contact-cont {
		margin-top: 50px;
	}	
}

@media (max-width: 991px) { /* xs, sm properties */
/* HOME */ 
	#sloganDiv {
		width: 100%;
		text-align: center;
		padding-top: 0px;
		padding-bottom: 35px;
	}

	#slogan {
		font-size: 3em;	
		display: inline-table;
	}

	#slogan li {
		margin: 0;
		display: table-cell;
		min-width: 0px;
	}

	#homeInfo {
		margin: auto;
	}
}

@media (max-width: 1200px) { /* xs, sm, md properties */
/* ABOUT ME */
	#headshot {
		width: 25%;
		border: #0080ff solid 4px;
	}

	#aboutInfoDiv {
		width: 100%;
	}	
}

@media (max-width: 930px) { /*custom for nav */
/* NAV */
	#headerName {
		display: none;
	}
}

@media (min-width: 992px) and (max-width: 1250px) { /* custom for home */
/* HOME */
	#sloganDiv {
		text-align: left;
	}

	#slogan {
		font-size: 5em;
	}

	#slogan li {
		padding-bottom: 10px;		
		min-width: 0px;
	}

	#homeInfo {
		width: 95%;
	}
}

@media (max-width: 1250px) and (min-width: 1200px) { /* custom for about */
/* ABOUT ME */
	#headshot {
		width: 100%;
	}
}