/* GLOBALS */
body {
	margin:0;
	background-color: #ffffff;
	font-family: sans-serif; 
}

ul {
	margin: 0px;
	padding: 0px;
}

span.blue {
	color: #0000ff;
	font-weight: bold;
}


/* NAVBAR / HEADER */
header {
	top: 0px;
	left: 0px;
	min-height: 50px;
	background-color: #ffffff;
}

#logo {
	margin-left: 35px;
	font-size: 40px;
}

#nav {
	float: right;
	margin-top: 0px;
	width: 58%;
}

#nav ul {
	display: table;
	width: 100%;
	min-height: 50px;
}

#nav li {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#nav li.word {
	width: 12.8%;
	min-width: 50px;
}

#nav li.line {
	font-weight: bold;
	font-size: 25px;
	color: #000000;
}

#nav li.word:hover {
	background-color: #E0E0E0;
}

#nav a {
	text-decoration: none;
	display: block;
	color: #000000;
	font-size: 18px;
}

#nav a.selected {
	color: #0000ff;
	font-weight: bold;
	font-size: 20px;
}



/* HOME PAGE */
#homeImg{
	height: 400px;
	width: 100%;
	background-image: url('../res/yosemiteBWBig.jpg');
	background-repeat: no-repeat;
	display: table;
}

#sloganDiv {
	display: table-cell;
	text-align: center;	
	vertical-align: middle;
}

#slogan {
	margin: 0px;
	font-size: 100px;
	color: #000000;
}

#homeInfoContainer {
	text-align: center;
	display: table;
	width: 40%;
	margin: auto;
	margin-top: 5px;
}

#homeInfo {
	display: table-cell;
	background-color: #E0E0E0;
	border-radius: 3px;
}