/*///////////////////////////////////////////////////////////////////////// GLOBALS */
body {
	margin:0;
	background-color: #ffffff;
	font-family: sans-serif; 
	font-size: 100%;
	width: 100%;
	height: 100%;
}

ul {
	margin: 0px;
	padding: 0px;
}

.noMargin {
	margin-bottom: -8px;
}

.blue {
	color: #0080ff;
	font-weight: bold;
}

.backgroundImg {
	background-size: cover;
	background-repeat: no-repeat;
	display: table;
	height: 680px; /* fix to scale*/
}


	
/*////////////////////////////////////////////////////////////////////////// NAVBAR, HEADER */
header {
	top: 0px;
	left: 0px;
	min-height: 50px;
}

#logo {
	max-height: 50px;
	width: auto;
	margin-left: 15px;
	margin-top: -11px;
}

#headerName {
	font-size: 2em;
}

#nav {
	float: right;
	margin: 0px;
	max-height: 50px;
	margin-right: 5px;
}

#nav ul {
	display: table;
	width: 100%;
	min-height: 50px;
}

#nav li {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#nav li.word {
	width: 12.8%;
	min-width: 110px;
}

#nav li.line {
	font-weight: bold;
	font-size: 1.5em;
	color: #000000;
}

#nav li.word:hover {
	background-color: #E0E0E0;
}

#nav a {
	text-decoration: none;
	display: block;
	color: #000000;
	font-size: 18px;
}

#nav a.selected {
	color: #0080ff;
	font-weight: bold;
	font-size: 20px;
}



/*///////////////////////////////////////////////////////////////////////// HOME */
#homeBack{
	background-image: url('../res/background/yosemite.jpg');
}

#sloganDiv {
	padding-right: 3%;
	display: table-cell;
	text-align: right;	
	width: 45%;
	vertical-align: middle;
}

#slogan {
	margin: 0px;
	font-size: 6em;
	color: #ffffff;
}

#homeInfoContainer {
	display: table-cell;
	text-align: center;
	vertical-align: top;
	width: 55%;
}

#homeInfo {
	width: 80%;
	color: #ffffff;
	padding-left: 2%;
	margin-top: 2%;
}

#homeInfoTitle {
	font-size: 3em;
	margin-bottom: 30px;
}



/*///////////////////////////////////////////////////////////////////////// ABOUT ME */
#aboutBack {
	background-image: url('../res/background/ocean.jpg');
}

#headshotDiv {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#headshot {
	width: 60%;
	height: auto;
	border-radius: 50%;
	border: #0080ff solid 8px;
}

#aboutInfoContainer {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 50%;
}

#aboutInfoDiv {
	width: 82%;
	border-radius: 3px;
	border: #0080ff solid 2px;
	background-color: #ffffff;
	padding: 2px 10px 3px 10px;
}



/*///////////////////////////////////////////////////////////////////////// SKILLS */
#skillsBack {
	background-image: url('../res/background/guitar.jpg');
}

#skillsContainer {
	display: table-cell;
	vertical-align: middle;
	width: 60%;
}

#skillsDiv {
	border-radius: 3px;
	border: #0080ff solid 2px;
	background-color: #ffffff;
	width: 60%;
	margin-left: 3%;
	padding: 2px 4px 8px 20px;
}

.skills-col {
	min-width: 200px
}

.skill-item {
	padding-bottom: 60px;
	min-width: 200px;
	margin-left: 5px;
}

.skill {
	float: left;
	font-size: 1.4em;
	font-weight: bold;
	min-width: 115px;
}

.skill-level {
	float: right;
}



/*///////////////////////////////////////////////////////////////////////// EDUCATION */
#educationBack {
	background-image: url('../res/background/royce2.jpg');
}



/*///////////////////////////////////////////////////////////////////////// WORK */
#workBack {
	background-image: url('../res/background/goldengate2.jpg');
}



/*///////////////////////////////////////////////////////////////////////// MEDIA QUERIES */
@media (max-width: 800px) {
	#skillsDiv {
		margin: auto;
		width: 80%;
	}    
}


