/* GLOBALS */
body {
	margin:0;
	background-color: #ffffff;
	font-family: sans-serif; 
	font-size: 100%;
	width: 100%;
	height: 100%;
}

ul {
	margin: 0px;
	padding: 0px;
}

span.blue {
	color: #0080ff;
	font-weight: bold;
}
	
/* NAVBAR / HEADER */
header {
	top: 0px;
	left: 0px;
	min-height: 50px;
}

#logo {
	margin-left: 35px;
	font-size: 35px;
}

#nav {
	float: right;
	margin: 0px;
	width: 58%;
	max-height: 50px;
	margin-right: 5px;
}

#nav ul {
	display: table;
	width: 100%;
	min-height: 50px;
}

#nav li {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#nav li.word {
	width: 12.8%;
	min-width: 50px;
}

#nav li.line {
	font-weight: bold;
	font-size: 1.5em;
	color: #000000;
}

#nav li.word:hover {
	background-color: #E0E0E0;
}

#nav a {
	text-decoration: none;
	display: block;
	color: #000000;
	font-size: 18px;
}

#nav a.selected {
	color: #0080ff;
	font-weight: bold;
	font-size: 20px;
}



/* HOME PAGE */
#homeImg{
	height: 680px;
	width: 100%;
	background-image: url('../res/yosemiteBWBigDark.jpg');
	background-repeat: no-repeat;
	display: table;
}

#sloganDiv {
	padding-right: 3%;
	display: table-cell;
	text-align: right;	
	width: 45%;
	vertical-align: middle;
}

#slogan {
	margin: 0px;
	font-size: 6em;
	color: #ffffff;
}

#homeInfoContainer {
	display: table-cell;
	text-align: center;
	vertical-align: top;
	width: 55%;
}

#homeInfo {
	/*background-color: #E0E0E0;*/
	width: 80%;
	border-radius: 3px;
	color: #ffffff;
	padding-left: 2%;
}

#homeInfoTitle {
	font-size: 3em;
	margin-bottom: 30px;
}
