/*///////////////////////////////////////////////////////////////////////// GLOBALS */
body {
	margin:0;
	background-color: #ffffff;
	font-family: sans-serif; 
	font-size: 100%;
	width: 100%;
	height: 100%;
}

ul {
	margin: 0px;
	padding: 0px;
}

.noMargin {
	margin-bottom: -8px;
}

.blue {
	color: #0080ff;
	font-weight: bold;
}

.backgroundImg {
	background-size: cover;
	background-repeat: no-repeat;
	display: table;
	height: 680px; /* fix to scale*/
}

.centered {
	text-align: center;
}

.major-cont {
	color: #000000;
	background-color: #ffffff;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 3px;
	border: #0080ff solid 2px;
}

.icon-padding-right {
	padding-right: 10px;
}

.center-content {
	text-align: center;
	margin-top: 10px;
}

.title {				/*merge with blue */
	color: #0080ff;
}

	
/*////////////////////////////////////////////////////////////////////////// NAVBAR, HEADER */
header {
	top: 0px;
	left: 0px;
	min-height: 50px;
}

#logo {
	max-height: 50px;
	width: auto;
	margin-left: 15px;
	margin-top: -11px;
}

#headerName {
	font-size: 2em;
}

#nav {
	float: right;
	margin: 0px;
	max-height: 50px;
	margin-right: 5px;
}

#nav ul {
	display: table;
	width: 100%;
	min-height: 50px;
}

#nav li {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#nav li.word {
	width: 12.8%;
	min-width: 110px;
}

#nav li.line {
	font-weight: bold;
	font-size: 1.5em;
	color: #000000;
}

#nav li.word:hover {
	background-color: #E0E0E0;
}

#nav a {
	text-decoration: none;
	display: block;
	color: #000000;
	font-size: 18px;
}

#nav a.selected {
	color: #0080ff;
	font-weight: bold;
	font-size: 20px;
}



/*///////////////////////////////////////////////////////////////////////// HOME */
#homeBack{
	background-image: url('../res/background/home.jpg');
}

#sloganDiv {
	text-align: right;
	width: 85%;
	padding-top: 155px;		/*change to vertically middle */
}

#slogan {
	margin: 0px;
	font-size: 6em;
	color: #ffffff;
}

#slogan li {
	margin-top: -35px;
	min-width: 620px;
}

#homeInfo {
	text-align: center;			/*merge iwth major-cont class*/
	width: 80%;
	min-width: 455px;
	color: #ffffff;
	padding-left: 10%;
	margin-top: 2%;
}

#homeInfoTitle {
	font-size: 2.5em;
	margin-bottom: 30px;
}



/*///////////////////////////////////////////////////////////////////////// ABOUT ME */
#aboutBack {
	background-image: url('../res/background/about.jpg');
}

#headshotDiv {
	text-align: center;
	margin: auto;
	padding-top: 20px;			/*change to vertically middle */
}

#headshot {
	width: 45%;
	border-radius: 50%;
	border: #0080ff solid 8px;
	margin-bottom: 10px;
}

#resume {
	text-decoration: none;
	font-size: 2em;
	color: #ffffff;
}

#resume:hover {
	color: #0080ff;
}

#aboutInfoDiv {
	width: 90%;						/*merge iwth major-cont class?*/
	text-align: center;
	border-radius: 3px;
	border: #0080ff solid 2px;
	background-color: #ffffff;
	margin: auto;
	margin-top: 40px;			/*change to vertically middle */
	margin-bottom: 10px;		
}



/*///////////////////////////////////////////////////////////////////////// SKILLS */
#skillsBack {
	background-image: url('../res/background/skills.jpg');
}

#skillsContainer {
	display: table-cell;
	vertical-align: middle;
	width: 60%;
}

#skillsDiv {
	border-radius: 3px;				/*merge iwth major-cont class?*/
	border: #0080ff solid 2px;
	background-color: #ffffff;
	width: 60%;
	margin-left: 3%;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 2px 4px 8px 20px;
}

.skills-col {
	min-width: 200px
}

.skill-item {
	padding-bottom: 50px;
	min-width: 200px;
	margin-left: 5px;
}

.skill {
	float: left;
	font-size: 1.4em;
	min-width: 115px;
}

.skill-level {
	float: right;
}



/*///////////////////////////////////////////////////////////////////////// EDUCATION */
#educationBack {
	background-image: url('../res/background/school2.jpg');
}



/*///////////////////////////////////////////////////////////////////////// WORK */
#workBack {
	background-image: url('../res/background/work.jpg');
}



/*///////////////////////////////////////////////////////////////////////// PROJECTS */
#projectsBack {
	background-image: url('../res/background/projects.jpg');
}

.project {
	margin-top: 5%;
	position: relative;
	border-radius: 7px;
	border: solid #ffffff 3px;
}

.project.hovered {
	border: solid #0080ff 3px;	
}

.project.hovered > .project-image {
	filter: brightness(.2);
}

.project-image {
	max-height: 100%;
	max-width: 100%;
	border-radius: 4px;
}

.project-title {
	position: absolute;
	bottom: 0px;
	left: 5px;
	width: 100%;
}

.project-name {
	display: inline-block;
}

.project-language {
	display: inline-block;
	float: right;
	margin-right: 10px;
}

.project-description {
	text-align: center; 

	display: none;
	color: #ffffff;
	position: absolute;
	bottom: 0px;
	left: 5px;
}



/*///////////////////////////////////////////////////////////////////////// CONTACT ME */
#contactBack {
	background-image: url('../res/background/contact.jpg');
}

#contact-cont {
	margin-top: 130px;
}

.contact-item {
	color: #ffffff;
	font-size: 1.4em;
	display: block;
}

.contact-item:hover {
	color: #0080ff;
	text-decoration: none;
	font-weight: bold;
}



/*///////////////////////////////////////////////////////////////////////// MEDIA QUERIES */
@media (max-width: 767px) {
/* HOME */
	#slogan {
		font-size: 1em;
	}

/* CONTACT */
	#contact-cont {
		margin-top: 50px;
	}
}


@media (max-width: 900px) {
/* SKILLS */
	#skillsDiv {
		margin: auto;
		margin-top: 15px;
		margin-bottom: 15px;
		width: 80%;
	}   
}

@media (max-width: 991px) { /* xs, sm properties */
/* HOME */ 
	#sloganDiv {
		width: 100%;
		text-align: center;
		padding-top: 0px;
		padding-bottom: 35px;
	}

	#slogan {
		font-size: 3em;	
		display: inline-table;
	}

	#slogan li {
		margin: 0;
		display: table-cell;
		min-width: 0px;
	}

	#homeInfo {
		margin: auto;
	}

/* ABOUT ME */
	#headshot {
		width: 35%;
	} 
}

@media (min-width: 992px) and (max-width: 1250px) { /* smaller md, smaller lg properties */
/* HOME */
	#sloganDiv {
		text-align: left;
	}

	#slogan {
		font-size: 5em;
	}

	#slogan li {
		padding-bottom: 10px;		
		min-width: 0px;
	}

	#homeInfo {
		width: 95%;
	}


/* ABOUT ME */
	#headshot {
		width: 70%;
	}
}


