body {
	margin:0;
	/*device width?*/
}

ul {
	margin: 0px;
	padding: 0px;
}

header {
	top: 0px;
	left: 0px;
	min-height: 100px;
	max-height: 170px;
	background: #00897B;
}

nav ul {
	display: inline;
	padding-left: 2%;
}

nav li {
	display: inline-block;
	width: 12.5%;
	text-align: center;
	padding-left: 8px;
	padding-right: 8px;
	vertical-align: top;
}

nav a {
	text-decoration: none;
	color: white;
	display: block;
}

nav a:hover {
	color: #000000;
}

nav .selected {
	font-weight: bold;
	color: #000000;		/*change*/
}

nav img {
	width: 85%;
	max-height: 120px;
	max-width: 120px;
}

nav #dot {
	height: 32px;
	width: 32px;
}



