
body {
	background: url('res/background-image2.jpg'); 
	background-size: cover;
	margin: 0px;
}

.menu-img {
	background-color: black;	
}

* {
	box-sizing: border-box;
}

.menu {
	margin-top: 125px;
	margin-left: 100px;
	width: 400px;
}

.menu-image {
	width: 100%;
	height: 100%;
	
	background-size: cover;
	background-position: center center;
	cursor: pointer;

	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	
}

.menu-image:hover {
	filter: brightness(.5);
}

.menu-image.selected {
	filter: brightness(1);
}

.menu-image.not-selected {
	filter: brightness(.3);
}

.menu-image.not-selected:hover {
	filter: brightness(.5);
}

.header {
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -281px;
	border-bottom: 2px solid white;
}

.header h1 {
	font-size: 575%;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: white;
	margin-bottom: -10px;
}

.col, 
[class^=col-] {
	height: 166.66px;
	padding: 0px;
	margin: 10px 10px;
}