		/* Overall */

body {
	background: url('res/background-image.jpg'); 
	background-size: cover;
	margin: 0px;
}

* {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: white;
}

		/* Header */

.header {
	position: fixed;
	left: 50%;
	top: 0px;
	margin-left: -281px;
	border-bottom: 2px solid white;
}

.header h1 {
	font-size: 575%;
	margin-bottom: -10px;
	cursor: pointer;
}

		/* Menu */

.menu {
	position: fixed;
	top: 125px;
	left: 100px;
	width: 400px;
}

.menu-col {
	height: 166.66px;
	padding: 0px;
	margin: 10px 10px;
}

		/* Menu Icons */

.menu-image {
	width: 100%;
	height: 100%;
	
	background-size: cover;
	background-position: center center;
	cursor: pointer;	
}

.menu-image:hover {
	filter: brightness(.5);
}

.menu-image.selected {
	filter: brightness(1);
}

.menu-image.not-selected {
	filter: brightness(.3);
}

.menu-image.not-selected:hover {
	filter: brightness(.5);
}

		/* Info Panes */

.info-pane {
	
	height: 600px;
	width: 1000px;
	position: fixed;
	right: 15px;
	top: 125px;
	visibility: hidden;
}

.info-pane.visible {
	visibility: visible;
}

.home-info-pane {
	
	height: 600px;
	width: 1000px;
	position: fixed;
	right: 15px;
	top: 125px;
	visibility: hidden;
}

.home-info-pane.visible {
	visibility: visible;
}

.info-pane-title {
	display: block;
	position: absolute;
	left: 50%;
	color: white;
	font-size: 300%;
	border-bottom: 2px solid white;
}

		/* Home Info Pane */

.home-info-pane .info-pane-title  {
	margin-left: -70px;
}

		/* About Me Info Pane */

.about-me-info-pane .info-pane-title  {
	margin-left: -117px;
}

		/* Skill Info Pane */

.skills-info-pane .info-pane-title  {
	margin-left: -47px;
}

#skills-container {
	position: absolute;
	top: 100px;
}

.skills-col {
	width: 50%;
	padding-right: 0px; 
}

.skills-list {
	padding-left: 0px;
	list-style-type: none;
}

.skill-item {
	margin: 10px;
	height: 50px;	
}

.skill {
	display: inline-block;
	float: left;
	height: 50px;
	font-size: 30px;
}

.skill-dash {
	display: inline-block;
	float: center;
	height: 50px;
	font-size: 30px;
}

.skill-level {
	display: inline-block;
	float: right;
	vertical-align: bottom;
}

		/* Education Info Pane */

.education-info-pane .info-pane-title  {
	margin-left: -119px;
}

		/* Work Info Pane */

.work-info-pane .info-pane-title  {
	margin-left: -58px;
}

		/* Projects Info Pane */

.projects-info-pane .info-pane-title  {
	margin-left: -90px;
}

		/* Contact Me Info Pane */

.contact-me-info-pane .info-pane-title  {
	margin-left: -142px;
}